/* DRAGON UI CORE STYLING */

html {
  background: whitesmoke;
}

.App {
  display: grid;
  grid-template-rows: 4em 1fr;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="number"] {
  text-align: right;
  font-size: 1.5em;
}

.min-margin {
  margin: 3px 0px;
}

/* MUI OVERRIDES */
.App .MuiOutlinedInput-input {
  padding: 18.5px 10px;
}

.App .MuiFormHelperText-root {
  margin: 0;
}